@use "../variables";
@use "~open-color/open-color" as oc;
@use "~breakpoint-sass" as bp;

pre {
  padding: 1rem;
  overflow: auto;
  line-height: 1.5;
  border-radius: 3px;
  margin: 1.5rem 0 2.5rem;
  font-size: 90%;
  background-color: variables.$code-bg;
}

pre,
code {
  font-family: 'Fira Mono', monospace;
}

p, li, figcaption {
  code {
    font-size: 1rem;
    padding: 0.25rem;
    margin: 0 0.25rem;
    background: variables.$code-bg;
    border-radius: 3px;
    line-height: 1.2;
    margin-bottom: 5px;
  }

  @include bp.breakpoint(variables.$mobile) {
    code {
      overflow-wrap: anywhere;
    }
  }
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(variables.$text-color-light, 40%);
}

code .line:only-child::before {
  content: none;
}

.code-filename {
  display: block;
  font-family: variables.$font-family-monospace;
  margin-bottom: -1.5rem;
  padding: 0.75rem 1rem;
  background: oc.$oc-gray-2;
  margin-top: 1.5rem;
  color: oc.$oc-gray-7;
  font-size: 90%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.code-filename ~ .shiki {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.has-diff code .diff {
  transition: background-color .5s;
  margin: 0 -24px;
  padding: 0 24px;
  min-width: calc(100% + 40px);
  display: inline-block;
  // set to width of parent
}

.has-diff code .diff.add {
  // Github diff color
  background-color: #dafbe1;
}

.has-diff code .diff.add.line::before {
  color: oc.$oc-green-7;
}

.has-diff code .diff.remove {
  background-color: #ffebe9;

  span {
    opacity: 0.5;
  }
}

.has-diff code .diff.remove.line::before {
  color: oc.$oc-red-3;
  text-decoration: line-through;
}
