pre {
  padding: 1rem;
  overflow: auto;
  line-height: 1.5;
  border-radius: 3px;
  margin: 1.5rem 0 2.5rem;
  font-size: 90%;
}

pre,
code {
  font-family: 'Fira Mono', monospace;
  font-smoothing: auto;
}

p code,
li code {
  font-size: 1rem;
  padding: 0.25rem;
  margin: 0 0.25rem;
  background: #f6f8fa;
  border-radius: 3px;
  line-height: 1.2;
  margin-bottom: 5px;
  white-space: nowrap;
}

[data-filename]:not([data-filename='']) {
  pre {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  &::before {
    content: attr(data-filename);
    display: block;
    font-family: $font-family-monospace;
    margin-bottom: -1.5rem;
    padding: 0.75rem 1rem;
    background: $oc-gray-2;
    margin-top: 1.5rem;
    color: $oc-gray-7;
    font-size: 90%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
}
