@use "../variables";
@use "~open-color/open-color" as oc;

table {
  border-spacing: 0;
  margin: 2rem 0;
}

td, th {
  padding: 1rem 0.5rem;
  text-align: left;
}

th {
  font-family: variables.$font-family-sans-serif;
}

td {
  border-top: 1px solid oc.$oc-gray-3;
  line-height: 1.75;
}