@use "../variables";
@use "~breakpoint-sass" as bp;

.quality-comparison {
  display: flex;
  justify-content: space-between;

  @include bp.breakpoint(variables.$mobile) {
    flex-direction: column;
  }

  &__example {
    width: calc(50% - 1rem);

    @include bp.breakpoint(variables.$mobile) {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  &__slider {
    max-width: 90%;

    @include bp.breakpoint(variables.$mobile) {
      max-width: 100%;
    }
  }
}

.wordle-answer {
  font-family: monospace;
  letter-spacing: 3px;
}
