@use "../variables";
@use "~breakpoint-sass" as bp;
@use "~open-color/open-color" as oc;

.byline {
  display: flex;
  font-family: variables.$font-family-sans-serif;
  color: variables.$text-color-light;
  line-height: 1.5;
  justify-content: space-between;
  margin-bottom: 3rem;

  @include bp.breakpoint(variables.$mobile) {
    flex-direction: column;
    margin-bottom: 1.5rem;
    line-height: 2;
  }

  &__author,
  &__user {
    display: flex;
  }

  &__author {
    align-items: center;
  }

  &__user {
    align-items: center;

    &__text {
      display: flex;
      align-items: baseline;
    }
  }

  &__headshot {
    height: 1.5rem;
    border-radius: 1.5rem;
    margin-right: 0.5rem;
    background: oc.$oc-blue-2;
    @include bp.breakpoint(variables.$mobile) {
      display: none;
    }
  }

  &__separator {
    margin: 0 0.25rem;
    color: oc.$oc-gray-5;
  }

  &__comment_count {
    border-bottom: 1px solid variables.$link-color;
    line-height: 1.2;

    &:hover {
      border-bottom-color: variables.$link-color-hover;
    }
  }

  .icon--clock {
    height: 1rem;
  }
}
