@use "../variables";
@use "~open-color/open-color" as oc;

a.footnote-ref {
  padding: 0 4px;
  display: inline-block;
  text-align: center;
  box-shadow: none;
  background: oc.$oc-blue-0;
  border: 1px solid oc.$oc-blue-1;
  font-family: variables.$font-family-sans-serif;
  margin: 8px 3px 0;
  border-radius: 3px;
  transition: color 150ms ease, background-color 150ms ease,
    border-color 150ms ease;

  &:hover {
    background: oc.$oc-blue-1;
    color: variables.$link-color-hover;
    box-shadow: none;
  }
}

.footnote-backref {
  border-bottom: none;
  margin: 0 0.1rem;
}

.footnote-ref a {
  font-family: variables.$font-family-sans-serif;
}

.footnotes > ol {
  li::marker {
    font-family: variables.$font-family-sans-serif;
  }

  li {
    margin: 1rem 0;
    transition: background-color 250ms ease;
  }
}

.footnote--highlight {
  background-color: oc.$oc-yellow-1;
}
