@use "../variables";
@use "../base/typography" as *;
@use "~breakpoint-sass" as bp;
@use "~open-color/open-color" as oc;

.footer {
  margin-top: 5rem;
  background: variables.$text-color-light;
  font-family: variables.$font-family-sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;

  @include bp.breakpoint(variables.$mobile) {
    margin-top: 3rem;
    min-height: 100px;
  }

  &__github {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    text-align: center;
    padding: 1.5rem 2rem;
    border-top: 1px solid oc.$oc-gray-2;
    line-height: 1.75;

    a {
      @include underlined_link;
    }
  }

  &__copyright {
    color: variables.$text-color-inverted;
    text-align: center;
    margin-top: 0;
    padding: 2rem 0 0;
  }

  .social_links__link {
    color: variables.$text-color-inverted;

    &:hover {
      color: oc.$oc-blue-2;
    }
  }
}
