@use "../variables";
@use "~breakpoint-sass" as bp;

.header {
  margin-top: 1.5rem;
  margin-bottom: 3rem;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  font-family: variables.$font-family-sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background: variables.$logo-color;
  color: variables.$text-color-dark;
  display: inline-flex;
  border-radius: 2rem;
  letter-spacing: -1px;
  justify-content: center;
  align-items: center;
  transition: background-color 400ms ease;

  @include bp.breakpoint(variables.$mobile) {
    font-size: 1.25rem;
    width: 2rem;
    height: 2rem;
  }

  &:hover {
    background: variables.$text-color-dark;
  }

  &__link {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: variables.$text-color-dark;
    transition: color 400ms ease;

    &:hover {
      color: variables.$logo-color;
    }
  }

  &__initials {
    height: 30px;

    @include bp.breakpoint(variables.$mobile) {
      height: 26px;
    }
  }
}
