@use "../variables";
@use "~breakpoint-sass" as bp;
@use "sass:color";

.intro {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;

  @include bp.breakpoint(variables.$mobile) {
    flex-direction: column-reverse;
    padding-top: 0;
  }

  &__blurb {
    font-size: 1.25rem;
    margin: 2rem 0 1.5rem;
    padding-right: 4rem;
    font-family: Gelasio;
    font-weight: normal;

    @include bp.breakpoint(variables.$mobile) {
      margin-top: 2rem;
      padding-right: 0;
    }
  }

  &__headshot {
    width: 350px;

    @include bp.breakpoint(variables.$mobile) {
      margin-bottom: 1rem;
    }
  }

  &__title {
    @include bp.breakpoint(variables.$mobile) {
      margin-bottom: 1rem;
    }
  }

  &__social_icons {
    @include bp.breakpoint(variables.$mobile) {
      text-align: center;
    }
  }
}

.with-flag {
  // avoid line breaks
  white-space: nowrap;
}

.role {
  font-weight: normal;
  font-size: 2.25rem;

  &__dates {
    font-size: 1.5rem;
    color: variables.$text-color-light;
  }

  &__name {
    display: block;
    font-size: 1.25rem;
    font-family: variables.$font-family-serif;
    margin-top: 1.25rem;
    // color: variables.$text-color-light;
    font-weight: 600;
  }
}

.role_figure_r {
  float: right;
  width: 24rem;
  padding: 0 2rem 1rem;

  @include bp.breakpoint(variables.$mobile) {
    width: 60%;
    padding: 0 1rem;
  }

  &__image {
    border-radius: 3px;
    max-width: 100%;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(-20deg);
  }
  55% {
    transform: rotate(20deg);
  }
  65% {
    transform: rotate(-20deg);
    animation-timing-function: cubic-bezier(0.33, 0.22, 0, 1.37);
  }
  85% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.hand {
  display: inline-block;
  height: 3rem;
  vertical-align: -5px;
  transform-origin: 40px 50px;
  margin-right: 0.25rem;
  z-index: 1;
  animation-name: wave;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
