.nav {
  display: flex;
  align-items: center;

  &__link {
    font-family: $font-family-sans-serif;
    text-decoration: none;
    margin: 0 1rem;
    color: $text-color-light;
    border-bottom: 2px solid transparent;
    transition: color 250ms ease;
    line-height: 1.5;

    @include breakpoint($mobile) {
      margin: 0 0.75em;
      font-size: 90%;
    }

    &:hover,
    &--active {
      color: $text-color-dark;
    }

    &--active {
      border-bottom: 2px solid $link-color;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.back-all-posts {
  font-family: $font-family-sans-serif;
  margin: 2rem 0 1rem;
  font-size: 0.9rem;
}
