// /* height: 50px; */
// background: rgba(255, 255, 255, 0.9);
// width: 100%;
// margin-bottom: 2rem;
// text-align: center;
// padding: 2rem;
// font-family: Inter;
// /* margin-top: 1px; */
// border-top: solid 1px #d5dde1;
// This website is open source, you can view the source code for this page. Found a mistake? Raise an issue.

.footer {
  margin-top: 5rem;
  background: $text-color-light;
  font-family: $font-family-sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;

  @include breakpoint($mobile) {
    margin-top: 3rem;
    min-height: 100px;
  }

  &__github {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    text-align: center;
    padding: 1.5rem 2rem;
    border-top: solid 1px #d5dde1;
    line-height: 1.75;

    a {
      @extend .underlined_link;
    }
  }

  &__copyright {
    color: #fff;
    text-align: center;
    margin-top: 0;
    padding: 2rem 0 0;
  }

  .social_links__link {
    color: #fff;

    &:hover {
      color: $oc-blue-2;
    }
  }
}
