{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}

<div class='comments' data-controller='comments'>
  <hr>
  <div id='commento'>
    <p class='loading'>Loading comments...</p>
  </div>
</div>
