<footer class='footer'>
  <div class='footer__github'>
    This website is
    <a href='https://github.com/alexpeattie/alexpeattie.com'>open source</a>, you can view the
    <a href='https://github.com/alexpeattie/alexpeattie.com-v2/blob/master/{{ page.inputPath }}'>source code</a>
    for this page. Found a mistake?
    <a href='https://github.com/alexpeattie/alexpeattie.com/issues/new'>Raise an issue</a>.
  </div>
  <p class='footer__copyright'>©
    {{ build.timestamp | dateToFormat('yyyy') }}, Alex Peattie</p>
  {% include 'social-links.njk' %}
</footer>
