<header class="header" role="banner">
  <div class="header__inner container">
    <div class="header__left">
      <div class="logo">
        <a class="logo__link" href="/">
          <span class="logo__initials">ap</span>
        </a>
      </div>
    </div>
    <div class="header__right">
      {% include "navigation.njk" %}
    </div>
  </div>
</header>
