<div class='social_links'>
  <a href='https://twitter.com/alexpeattie' class='social_links__link'>
    {% icon "twitter" %}
  </a>

  <a href='https://github.com/alexpeattie' class='social_links__link'>
    {% icon "github" %}
  </a>

  <a href='https://www.linkedin.com/in/apeattie/' class='social_links__link'>
    {% icon "linkedin" %}
  </a>

  <a href='mailto:me@alexpeattie.com' class='social_links__link social_links__link--email'>
    {% icon "email" %}
  </a>
</div>
