.TimelineItem-pics.-projects-prideify img {
  border-radius: 100px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0, 0.2) 0%, rgba(0,0,0, 1) 70%);
}

.TimelineItem-pics.-projects-thumb-windowed img {
  transform: scale(1.3);
}