@import 'variables';

.prideify-Teaser {
  border-radius: 100px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0, 0.2) 0%, rgba(0,0,0, 1) 70%);
}

.prideify-Dropzone {
  background: #f9f9f9;
  padding: 1em;
  text-align: center;
  font-size: 1.4em;
  border-radius: 8px;
  border: 1px solid $lightBorder;

  &.is-hovered {
    border-color: $link;
  }

  &.is-uploaded {
    border: none;
    background: none;
  }

  img {
    max-width: 100%;
  }
}

.prideify-UrlEntry {
  width: 70%;
  display: inline-block;
  border: none;
  transition: border-bottom .3s ease;
  border-bottom: 1px dashed $border;
  font-size: 23px;
  text-align: center;
  padding: 5px;
  margin-top: 15px;
  outline: none;

  &:focus {
    border-bottom: 1px dashed $link;
  }
}

.prideify-Peg {
  margin-top: .5em;
}