<article class='TimelineItem TimelineItem--post'>
  <section class='TimelineItem-details'>
    <h2><%= link_to article.title, article.url.chomp('/') %></h2>
    <h3><%= time_tag article.date, no_year: true %></h3>

    <p><%= article.summary %></p>
  </section>
</article>