<!doctype html>
<html lang='{{ site.lang }}' class='no-js'>
  <head>
    <meta charset='utf-8'>
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
    </script>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{ title + " – Alex Peattie" if title else site.title }}</title>

    <link href='https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Gelasio:ital,wght@0,400;0,600;1,400;1,600&family=Inter:wght@400;700&display=swap' rel='stylesheet'>
    <link rel='stylesheet' href='/assets/styles/index.css'>

    <script src='/assets/scripts/index.js' defer></script>

    {% include 'meta.njk' %}
  </head>
  <body id='top' itemscope itemtype='http://schema.org/WebPage'>
    <div hidden>{% iconsprite %}</div>

    <div class='layout' role='document'>
      {% include 'header.njk' %}
      <main id='main' class='main' tabindex='-1'>
        {{ content | safe }}
      </main>
      {% include 'footer.njk' %}
    </div>

    <!--! LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} -->
  </body>
</html>
