@import 'variables';

.TimelineItem.TimelineItem--post {
  h2 {
    font-size: 1.75em;
    a {
      line-height: 1.55em;
      padding-bottom: 0.25em;
    }
  }

  h3 {
    font-size: 1.1em;
  }

  &.TimelineItem--externalPost {
    h2 {
      font-size: 1.4em;
      img {
        vertical-align: -2px;
      }
    }

    h3 {
      font-size: 1em;
    }

    .TimelineItem-details::before {
      height: 8px;
      width: 8px;
      left: -8px;
      margin-top: 10px;
    }

    .TimelineItem-details::after {
      display: none;
    }
  }
}

.TimelineItem--topLink > .TimelineItem-footer.TimelineItem-footer--blog {
  width: 100%;
}

.PostMeta, .ContentBody h2.PostMeta {
  text-align: center;
  border: 0;
  font-weight: 300;
  font-size: 1.2em;
  color: $lightText;
  margin: -1em 0 2em 0;
}

.blog .ContentBody {
  h4 {
    margin: 1em 0 0.5em;
  }
}