<article class='Comments'>
  <h2 id='comments'>Comments</h2>

  <div id='disqus_thread'>
  </div>

  <script>
    var disqus_shortname = 'alexpeattie';
    var disqus_url = 'http://alexpeattie.com<%= current_page.url %>';
    var disqus_identifier = '<%= slug %>';

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
      var s = document.createElement('script'); s.async = true; s.type = 'text/javascript';
      s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq).appendChild(s);
    })();
  </script>
</article>