<article class='TimelineItem TimelineItem--post TimelineItem--externalPost'>
  <section class='TimelineItem-details'>
    <h2>
      <% link_to(article.data.external_link, target: '_blank') do %>
        <%= image_tag 'icons/link.png' %>
        <%= article.title %>
      <% end %>
    </h2>
    <h3>
      <%= time_tag article.date, no_year: true %> -
      <%= link_to link_to_domain(article.data.external_link) %>
    </h3>
  </section>
</article>