<template id='video-modal-template'>
  <div class='remodal' data-remodal-id='video' data-remodal-options='hashTracking: false'>
    <button data-remodal-action='close' class='remodal-close'></button>

    <div class='responsive-video-wrapper'>
      <iframe frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</template>