@import 'variables';

* {
  box-sizing: border-box;
}

header,
main,
footer {
  margin: 0 auto;
  padding: 0 6vw;
  box-sizing: content-box;
}

article {
  max-width: $contentWidth;
  margin: 0 auto;

  &.ContentBody {
    padding-top: 2em;
    padding-bottom: 2em;

    @media(max-width: $mobile) {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;

  @media(max-width: $mobile) {
    margin-bottom: 4em;
  }
}

footer {
  border-top: solid 3px $lightBorder;

  p {
    text-align: center;
    color: $lightText;
    font-size: 0.95em;
    padding: 0.75em 0;
    line-height: 175%;
  }
}