@import 'variables';

.TimelineItem {
  display: flex;

  > .TimelineItem-pics {
    flex: 1 1 30%;
    padding: 0 2em 2em;
    min-width: 1px;
    text-align: center;

    img {
      max-width: 100%;
    }

    > img:first-child {
      margin-top: 2em;
    }

    &.TimelineItem-pics--multi {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &.TimelineItem-pics--jelly {
      > img {
        transform: scale(0.5);
        opacity: 0.5;
        
        &.is-revealed {
          opacity: 1;
          animation: animation--jelly-bounce 1.5s linear both;
        }
      }
    }

    .TimelineItem-pics-footer {
      max-width: none;
      align-self: flex-end;
      justify-content: inherit;
      margin: 6em 0 2em 0;

      @media(max-width: $mobile) {
        display: none;
      }
    }
  }

  > .TimelineItem-details {
    flex: 1 1 70%;
    padding: 2em 0 1em 3em;
    border-left: 3px solid $border;
    position: relative;

    p:last-child, ul:last-child {
      margin-bottom: 2.5em;
    }
  }

  > .TimelineItem-details::before {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    background: #fff;
    border-radius: 14px;
    border: solid 3px $border;
    position: absolute;
    left: -10px;
    margin-top: 8px;
  }

  > .TimelineItem-details::after {
    content: '';
    display: block;
    position: relative;
    bottom: 0;
    height: 1px;
    width: 40%;
    margin: 0 auto;
    background: $lightBorder;
    right: 1.5em;
  }

  &:first-child {
    > .TimelineItem-pics {
      padding-top: 2em;
      @media(max-width: $mobile) {
        padding-top: 0;
      }
    }

    > .TimelineItem-details {
      padding-top: 4em;
      @media(max-width: $mobile) {
        padding-top: 2em;
      }
    }
  }

  &.TimelineItem--fadeIn, &.TimelineItem--header:first-child {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 1) 80px);
  }

  &.TimelineItem--fadeIn {
    margin-top: -2em;

    @media(max-width: $mobile) {
      mask-image: none;
      > .TimelineItem-pics { 
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 1) 80px);
      }

      .TimelineItem-pics > img:first-child {
        margin-top: 4em;
      }
    }
  }
}

.TimelineItem--topLink {
  justify-content: flex-end;

  > .TimelineItem-footer {
    width: 70%;
    text-align: center;
    border-left: 3px solid $border;
    flex-grow: 0;
    padding-bottom: 1em;

    &::before,
    &::after {
      display: none;
    }
  }
}

.TimelineItem--header {
  text-align: center;
  padding: 0;

  .TimelineItem-details {
    &::before,
    &::after {
      display: none;
    }
  }

  &:first-child {
    padding-top: 1.5em;
    margin-top: -1.5em;

    @media (max-width: $mobile) {
      padding-top: 2em;
    }
  }

  h3 {
    font-size: 2em;
    @media (max-width: $mobile) { font-size: 2em; }
    padding-right: 1em;
    margin: 0;
  }
}

@media (max-width: $mobile) {
  .TimelineItem {
    flex-flow: row wrap;

    > .TimelineItem-details {
      flex: 1 1 100%;
      padding: 2em 1em 1em 3em;
    }

    > .TimelineItem-details::after {
      right: 1em;
    }

    > .TimelineItem-pics {
      border-left: 3px solid $border;
      padding-bottom: 0;
      text-align: center;

      img {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .TimelineItem--topLink > .TimelineItem-footer {
    width: 100%;
  }
}