@import 'variables';

html, body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-smoothing: subpixel-antialiased;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

p, ul, ol {
  font-weight: normal;
  color: $normalText;
  font-size: 1.1em;
  line-height: 185%;

  ul {
    font-size: .95em;
  }
}

a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  border-bottom: 1px dotted $link;
  line-height: 130%;

  &:hover {
    color: lighten($link, 10%);
    border-bottom: solid 1px lighten($link, 10%);
  }
}

aside > a {
  &, &:hover { border-bottom: none; }
}

footer p:nth-child(even) {
  margin-top: -1.5em;
}

h2 {
  font-size: 2.4em;
  margin: 0;

  a {
    color: #000;
    border-bottom-color: #000;
    padding-bottom: 3px;
    margin-bottom: 5px;
    display: inline-block;
  }
}

h3 {
  margin-top: 0.5em;
  font-size: 1.4em;
  color: $lightText;
}

@media (max-width: $mobile) {
  h2 { font-size: 2.2em; }
  h3 { font-size: 1.1em; }
}

blockquote {
  margin: 30px 0;
  font-size: 90%;
  border-left: 3px solid #4eb0eb;
  padding-left: 40px;

  p { color: #999; }
}

.ContentBody, .Comments {
  h1 {
    font-size: 3em;
    text-align: center;
    line-height: 140%;
  }

  h2 {
    font-size: 2em;
    margin: 1.5em 0 1em 0;
  }

  h3 {
    font-weight: normal;
    font-size: 1.5em;
    margin: 2em 0 1em;
    color: darken($lightText, 20%);
    border-bottom: 1px solid $lightBorder;
    padding-bottom: 10px;
  }

  h4 {
    font-size: 1.1em;
    color: darken($lightText, 10%);
    font-weight: normal;
    display: inline-block;
    margin: 0;
    border-bottom: 1px dotted #aaa;
    padding-bottom: 5px;
  }

  h5 {
    font-size: 1.1em;
    margin: 0;
    color: #777;
  }

  strong {
    background: $textHighlight;
    padding: 2px 4px;
  }

  a {
    word-break: break-word;
  }

  h1, h2, h3, h4, h5 {
    code { font-size: 90%; }
  }

  p {
    margin: 40px 0;
  }
}

p.u-centerText {
  text-align: center;
}

p.u-imageCaption {
  text-align: center;
  font-style: italic;
}