@import 'variables';

body.index header {
  display: block;
  border-bottom: 3px solid $lightBorder;
  margin-bottom: 0;
  .Logo { display: none; }
  .MainMenu { justify-content: flex-end; }
}

.Me {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex: 1 0 100%;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Me-blurb {
  flex: 0 1 44%;

  h2, h3, h4 {
    animation-name: animation--jelly-bounce;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  h2 {
    font-size: 4vw;
    margin: 6.5vw 0 0.25em 0;
    animation-delay: 0.3s;
    animation-duration: 1.2s;
  }

  h3 {
    margin: 0;
    white-space: nowrap;
    font-size: 2.7vw;
    width: 98%;
    animation-delay: 0.8s;
    animation-duration: 1.2s;
    max-width: 550px;
  }

  h4 {
    font-size: 1.7vw;
    color: $lightText;
    animation-duration: 1.9s;
    animation-delay: 1.5s;
  }
}

.Me-social {
  display: flex;
  justify-content: space-between;

  @media(min-width: 1750px) {
    height: 120px;
  }

  @media (max-width: $mobile) {
    height: 20vw;
  }
}

.Me-social a {
  border-bottom: none;
  width: 18.5%;
  transition: transform 0.3s ease;
  &:hover { transform: translateY(-5px); }
  position: relative;

  svg {
    position: absolute;
    width: 100%;
    path {
      transition: stroke 0.5s ease;
      stroke: #999;
      stroke-width: 3;
    }
  }

  &#link-linkedin svg path { stroke-width: 8; }

  // SVG hover path
  &#link-twitter svg:nth-child(2) path { stroke: #00aced; }
  &#link-github svg:nth-child(2) path { stroke: #be90d4; }
  &#link-email svg:nth-child(2) path { stroke: #2ecc71; }
  &#link-linkedin svg:nth-child(2) path { stroke: #0079bb; }
}

.Me-mugshot {
  flex: 0 1 52%;
  align-self: flex-end;
  min-width: 1px; // firefox is finnicky
  position: relative;
  
  img {
    display: block;
    max-width: 100%;
    margin-left: -1em;
  }
}

@media (max-width: $mobile) {
  .Me {
    margin-top: 55px;
  }

  .Me-blurb {
    flex: 0 1 100%;

    h2 {
      font-size: 10vw;
    }

    h3 {
      width: 100%;
    }

    h4 {
      font-size: 5vw;
      margin: 1em 0 1.5em 0;
    }
  }

  .Me-mugshot {
    flex: 0 1 100%;
    height: 100px;
    margin-bottom: 60px;

    // upside down on mobile
    img {
      height: calc(15vw + 100px);
      transform: rotate(180deg);
      position: absolute;
      left: 1em;
      top: 0;
    }
  }

  .Me-social img {
    width: 65px;
  }
}