---
layout: base
image: /assets/images/meta/default-og.png
description: "Hi there! I’m an engineer leader, former founder, speaker, writer and coach."
eleventyNavigation:
  key: Me
  order: 0
---

<div class="container">
  <div class='intro'>
    <div>
      <h1 class='intro__title'>
        Hi there
        <img class='hand' src='/assets/images/homepage/hand-wave.png'>!<br>
        I’m Alex Peattie
      </h1>

      <p class='intro__blurb'>
        I’m an engineer leader, former founder, speaker, writer and coach. I'm <span class='with-flag'>half-Welsh 🏴󠁧󠁢󠁷󠁬󠁳󠁿</span>, <span class='with-flag'>half-Indian 🇮🇳</span>, currently living in <span class='with-flag'>Paris 🇫🇷</span>!
      </p>

      <div class='intro__social_icons'>
        {% include "social-links.njk" %}
      </div>
    </div>

    <div>
      <img class='intro__headshot' src='/assets/images/homepage/alex-hedcut.png'>
    </div>
  </div>

  <hr>

  <h2>The story so far...</h2>

  <h3 class='role'>
    Front
    <span class='role__dates'>(2022 — Present)</span>
    <span class='role__name'>Director of Engineering, EMEA</span>
  </h3>
  <div>
    <div class='role_figure_r'>
      <img src='/assets/images/homepage/front-team.jpg' class='role_figure_r__image'>
    </div>

    <p>I'm currently working at <a href='https://front.com'>Front</a> as the Director of Engineering in EMEA. I manage our local Engineering Managers and oversee our product engineering teams here in Paris. We're particularly focused on building powerful features for Front's admins: like automation and AI capabilities, reporting and analytics, and compliance and workforce management tools.</p>

    <p>Front's a great place to work! We have a strong culture of collaboration, we're growing our teams (sustainably!), and we love shipping great software that makes our customers' lives easier. We're <a href='https://front.com/jobs'>hiring</a> – so don't hesitate to drop me a line if you'd like to learn more.</p>
  </div>

  <h3 class='role'>
    Peg
    <span class='role__dates'>(2015 — 2021)</span>
    <span class='role__name'>CTO &amp; Co-Founder</span>
  </h3>
  <div>
    <div class='role_figure_r'>
      <img src='/assets/images/homepage/peg-team.jpg' class='role_figure_r__image'>
    </div>

    <p>I co-founded and co-ran
      <a href='https://peg.co'>Peg</a>
      - a B2B software platform to help top brands &amp; agencies work with influencers - for five years. It was incredible journey - we worked with over 2,000 companies worldwide, assembled a fantastic team and raised $2M from angel investors. At our peak I managed a dozen direct reports and a technology budget of ~$400k annually.</p>

    <p>Peg also offered up plenty of interesting technical challenges. The platform had to track and intelligently rank more than 2 million influencers, tag many billions of photos and videos, and use natural language processing to identify influencers mentioning brands. In 2021, Peg's platform was acquired by 
      <a href='https://current.tech/'>Current</a>, an influencer marketing outfit based in the US.</p>
  </div>

  <h3 class='role'>
    Makers
    <span class='role__dates'>(2013 — 2014)</span>
    <span class='role__name'>Lead coach</span>
  </h3>
  <p>Shortly after it was founded, I joined
    <a href='https://makers.tech/'>Makers</a>
    (or Makers Academy as it was known at the time) as a Senior Coach responsible for the second half of the course. I was responsible for running the course's second half focusing on web technologies including Ruby on Rails, SQL and JavaScript.</p>

  <p>It was fun to design a curriculum covering such a breadth of material in just a few weeks, and to teach so many incredible students, who have gone on to jobs at the likes of Facebook, GDS, Thoughtbot, Pusher, Pivotal Labs and Amazon.</p>

  <h3 class='role'>
    Consultancy
    <span class='role__dates'>(2006 — present)</span>
  </h3>
  <p>For almost a decade and a half, I've acted as a consulting software engineer or (more recently) interim CTO for a wide range of clients - from Fortune 500 companies, to early stage startups, to charities and NGOs. I also spent a year working on-site with GrubWithUs (now
    <a href='https://www.goat.com/'>GOAT</a>) in Venice Beach. If you'd like to work together,
    <a href='mailto:me@alexpeattie.com'>drop me a line</a>.</p>
</div>
