---
layout: base
title: "Talks I’ve given"
description: "Slides and (usually) videos for talks I've given at various conferences. I've spoken mainly about data science, machine learning and NLP."
eleventyNavigation:
  key: Talks
  order: 2
---

<div class="container">
  <div class='talk' data-turbolinks='false'>
    <div class='talk__header'>
      <div class='talk__details'>
        <h2 class='talk__name'>
          <a href='/talks/tts/'>Teaching Machines to Talk: Modern Speech Synthesis with Deep Learning</a>
        </h2>
        <p class='talk__outlet'>
          ODSC 2021
        </p>
        <div class='link_list'>
          <span class='link_list__link'>
            {% icon "slides" %}
            <a href="/talks/tts/">Slides (interactive)</a>
          </span>
        </div>
      </div>

      <div class='talk__visuals'>
        <img class='talk__image talk__image--bordered' src='/assets/images/talks/tts-thumb.jpg' width='300px'>
      </div>
    </div>
    <div class='talk__body'>
      <p class='talk__description'>
        In this talk, I give an introduction for complete beginners to speech synthesis from deep learning. The talk walks through a the background to the emergency of ML methods in speech synthesis, explains in detail the exact problem domains we're working in when building TTS systems (sequence-to-sequence problems, audio synthesis) and gives a nuts-and-bolts guide to getting started training a TTS system with a custom voice from scratch.
      </p>
    </div>
  </div>

  <div class='talk'>
    <div class='talk__header'>
      <div class='talk__details'>
        <h2 class='talk__name'>
          <a href='/talks/hp/'>Ruby-us Hagrid: Writing Harry Potter with Ruby</a>
        </h2>
        <p class='talk__outlet'>
          Brighton Ruby 2018, RubyConf 2018, Pivorak 2019
        </p>
        <div class='link_list'>
          <span class='link_list__link'>
            <span class='text_icon'>📖</span>
            <a href='/talks/hp/'>Talk notes</a>
          </span>
          <span class='link_list__link'>
            {% icon "slides" %}
            <a href="/files/hp-slides.pdf">slides (PDF)</a>
          </span>
          <span class='link_list__link'>
            <span class='text_icon'>📹</span>
            <a href='https://youtu.be/gTru3pXKPnI?hd=1'>video (30 mins, RubyConf)</a>
          </span>
          <span class='link_list__link'>
            <span class='text_icon'>📹</span>
            <a href='https://brightonruby.com/2018/writing-harry-potter-with-ruby-alex-peattie/'>video (20 mins, Brighton Ruby)</a>
          </span>
        </div>
      </div>

      <div class='talk__visuals'>
        <img class='talk__image' src='/assets/images/talks/hp-thumb.jpg' width='300px'>
      </div>
    </div>
    <div class='talk__body'>
      <p class='talk__description'>
        This is a talk based around a big idea: using Ruby to write a brand new Harry Potter story, completely automatically. Whether we’re embarking on this journey for self-enlightenment, or to grab a slice of J. K.’s billions, along the way we’ll see first-hand the power and elegance of Ruby for tackling problems in the field of natural language processing.
      </p>
    </div>
  </div>

  <hr>

  <div class='talk'>
    <div class='talk__header'>
      <div class='talk__details'>
        <h2 class='talk__name'>
          <a href='https://youtu.be/4fMwu7K3HmQ?hd=1'>Understanding Unstructured Data with Language Models</a>
        </h2>

        <p class='talk__outlet'>
          ODSC 2018
        </p>
        <div class='link_list'>
          <span class='link_list__link'>
            <span class='text_icon'>📹</span>
            <a href='https://youtu.be/4fMwu7K3HmQ?hd=1'>Video (80 mins)</a>
          </span>
          <span class='link_list__link'>
            {% icon "slides" %}<a href="/files/lm-slides.pdf">slides (PDF)</a>
          </span>
        </div>
      </div>

      <div class='talk__visuals'>
        <img class='talk__image talk__image--bordered' src='/assets/images/talks/lm-thumb.jpg' width='300px'>
      </div>
    </div>
    <div class='talk__body'>
      <p class='talk__description'>
        It's estimated that up to 90% of the data which organizations hold is unstructured, living in the form of documents, emails, reviews, reports, chat logs and so on. This talk hopes to cast a new light on this often overlooked source of insight with a deep dive into language models: one of the most powerful tools at our disposal for understanding unstructured data. The talk spans the history of language models, from the techniques used break Nazi codes at Bletchley Park to the emerging universal language models of 2018.
      </p>
    </div>
  </div>

  <hr>

  <div class='talk'>
    <div class='talk__header'>
      <div class='talk__details'>
        <h2 class='talk__name'>
          <a href='https://youtu.be/S7xyOvnUJF8?hd=1'>The Magic of Dimensionality Reduction</a>
        </h2>

        <p class='talk__outlet'>
          ODSC 2018
        </p>
        <div class='link_list'>
          <span class='link_list__link'>
            <span class='text_icon'>📹</span>
            <a href='https://youtu.be/S7xyOvnUJF8?hd=1'>Video (70 mins)</a>
          </span>
          <span class='link_list__link'>
            {% icon "slides" %}<a href="https://github.com/alexpeattie/magic/blob/master/slides.pdf">slides (PDF)</a>
          </span>
        </div>
      </div>

      <div class='talk__visuals'>
        <img class='talk__image' src='https://i.ytimg.com/vi/S7xyOvnUJF8/mqdefault.jpg' width='300px'>
      </div>
    </div>
    <div class='talk__body'>
      <p class='talk__description'>
        Dimensionality reduction is one of the most crucial tools in a data scientists’ toolbox, and modern tools can yield truly magical results. This talks looks at how we can take complex, messy, real-world datasets and simplify them, in order to create beautiful visualizations, to better understand the relationships between our data points, and to discover some surprising insights: including how dimensionality reduction could help you find love...
      </p>
    </div>
  </div>

  <hr>
  
  <div class='talk'>
    <div class='talk__header'>
      <div class='talk__details'>
        <h2 class='talk__name'>More talks...</h2>
      </div>
    </div>
    <div class='talk__body'>
      <p class='talk__description'>
        These ones just have slides for now. <a href='mailto:me@alexpeattie.com'>Email me</a> if you'd be interested in a recording of any of these talks.
      </p>
      <ul>
        <li>
          <a href="http://slides.com/alexpeattie/components">Thinking in components</a> — Codebar Monthlies, August 2016
        </li>
        <li>
          <a href="http://slides.com/alexpeattie/love">Coding with love</a> — Mind the Code, 2015
        </li>
        <li>
          <a href="/files/foundrs-health-slides.pdf">Why splitting your focus could be good</a> — Foundrs Health, 2015
        </li>
        <li>
          <a href="http://slides.com/alexpeattie/disney">Disney's 12 Principles for Animating on the Web</a> — Pivotal Labs London talks series, 2014
        </li>
      </ul>
    </div>
  </div>
</div>