---
title: Talks I've given
description: Here are of the talks I've given at various conferences and meetups
---

<article class='TimelineItem TimelineItem--fadeIn'>
  <aside class='TimelineItem-pics'>
    <%= image_tag 'talks/lm-thumb.jpg' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2>Understanding Unstructured Data with Language Models</h2>
    <h3><a href='https://odsc.com/training/portfolio/understanding-unstructured-data-language-models'>ODSC Europe 2018</a> · (80 minutes)</h3>
    <p>It's estimated that up to 90% of the data which organizations hold is unstructured, living in the form of documents, emails, reviews, reports, chat logs and so on. This talk hopes to cast a new light on this often overlooked source of insight with a deep dive into language models: one of the most powerful tools at our disposal for understanding unstructured data. The talk spans the history of language models, from the techniques used break Nazi codes at Bletchley Park to the emerging universal language models of 2018.</p>
    <p>
      <a href='/files/lm-slides.pdf' class='Btn'>
        Slides (PDF)
      </a>
    </p>
  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
    <%= image_tag 'talks/hp-thumb.jpg' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2><a href='/talks/hp'>Ruby-us Hagrid: Writing Harry Potter with Ruby</a></h2>
    <h3><a href='https://brightonruby.com/2018/writing-harry-potter-with-ruby-alex-peattie/'>Brighton Ruby 2018</a> · (25 minutes)</h3>
    <p>This is a talk based around a big idea: using Ruby to write a brand new Harry Potter story, completely automatically. Whether we’re embarking on this journey for self-enlightenment, or to grab a slice of J. K.’s billions, along the way we’ll see first-hand the power and elegance of Ruby for tackling problems in the field of natural language processing.</p>

    <p>
      <a href='/talks/hp' class='Btn'>Read more</a>
      <a href='/files/hp-slides.pdf' class='Btn Btn--subtle'>
        Slides (PDF)
      </a>
    </p>
  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
    <%= image_tag 'https://i.ytimg.com/vi/S7xyOvnUJF8/mqdefault.jpg' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2><a href='https://youtu.be/S7xyOvnUJF8?hd=1'>The Magic of Dimensionality Reduction</a></h2>
    <h3><a href='https://odsc.com/training/portfolio/magic-dimensionality-reduction'>ODSC Europe 2017</a> · (80 minutes)</h3>
    <p>Dimensionality reduction is one of the most crucial tools in a data scientists’ toolbox, and modern tools can yield truly magical results. This talks looks at how we can take complex, messy, real-world datasets and simplify them, in order to create beautiful visualizations, to better understand the relationships between our data points, and to discover some surprising insights: including how dimensionality reduction could help you find love...</p>

    <p>
      <a href='https://youtu.be/S7xyOvnUJF8?hd=1' class='Btn'>
        📹 Watch video
      </a>
      <a href='https://github.com/alexpeattie/magic/blob/master/slides.pdf' class='Btn Btn--subtle'>
        Slides (PDF)
      </a>
    </p>
  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
  </aside>

  <section class='TimelineItem-details'>
    <h2 id='legacy'>More talks</h2>
    <p>These ones just have slides for now. <a href='mailto:me@alexpeattie.com'>Email me</a> if you'd be interested in a recording of any of these talks.</p>
    <ul>
      <li>
        <a href='http://slides.com/alexpeattie/components'>Thinking in components</a> &mdash; Codebar Monthlies, August 2016
      </li>
      <li>
        <a href='http://slides.com/alexpeattie/love'>Coding with love</a> &mdash; Mind the Code, 2015
      </li>
      <li>
        <a href='/files/foundrs-health-slides.pdf'>Why splitting your focus could be good</a> &mdash; Foundrs Health, 2015
      </li>
      <li>
        <a href='http://slides.com/alexpeattie/disney'>Disney's 12 Principles for Animating on the Web</a> &mdash; Pivotal Labs London talks series, 2014
      </li>
    </ul>
  </section>
</article>

<article class='TimelineItem TimelineItem--topLink'>
  <section class='TimelineItem-footer'>
    <h3><a>Take me back to the top!</a></h3>
  </section>
</article>
