---
title: Blog (technical posts about Rails, JS and more) - Alex Peattie
description: This is my blog, a place for coding tricks and tips, technical articles (focusing on Rails, Ruby Angular, JS and more) as well as book reviews, reflections on running a startup, and general musings.
---

<% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
  <article class='TimelineItem TimelineItem--header'>
    <section class='TimelineItem-details'>
      <h3><%= year %></h3>
    </section>
  </article>

  <% articles.each do |article| %>
    <%= partial (article.data.external_link ? 'components/external-article' : 'components/article'), locals: { article: article } %>
  <% end %>
<% end %>

<article class='TimelineItem TimelineItem--topLink'>
  <section class='TimelineItem-footer TimelineItem-footer--blog'>
    <h3><a>Take me back to the top!</a></h3>
  </section>
</article>