---
title: JustVector Social Icons 1.5
description: Download these 150 monochrome, fully scaleable, fully editable vector icons for social sites. The icons are completely free for commercial use, and are available in .AI, .EPS, .SVG and .PNG formats.
---

<h1>JustVector Social Icons 1.5</h1>

<section class='jv-ColorChangingIcons'>
  <% %w(dropbox facebook github quora reddit skype soundcloud spotify tumblr twitter yelp youtube vimeo yahoo! rss whatsapp).each do |icon| %>
    <%= partial "assets/images/projects/justvector/#{icon}.svg" %>
  <% end %>
</section>

<p class='u-centerText' role='menu'>
  <a href='/files/justvector.zip' class='Btn Btn--large Btn--cta'>Download (.zip)</a>
</p>

<p>These 150 monochrome social icons are designed with simplicity in mind. Provided in vector format, they are fully editable and scale to any size smoothly. They are completely <strong>free</strong>, even for commercial use, redistribution or remixing (see <a href="#license-info">License</a>).</p>

<h2>Format</h2>

<p>The original artwork in vector format is provided in .AI (CS3+) and .EPS (editable in <a href="http://www.adobe.com/products/illustrator/">Adobe Illustrator</a>, <a href="http://www.adobe.com/products/freehand/">Freehand</a>, <a href="http://www.corel.com/">CorelDRAW</a> and <a href="http://inkscape.org/">Inkscape</a>) files.

Also provided are individual files for each icon, in .PNG and .SVG format. The .PNG icons are 32px x 32px PNG-32s, black on a transparent background. The .SVG icons are 100px x 100px, with a black fill color.</p>

<h2 id="license-info">License Info</h2>

<p>The icons are distributed under the <a href="http://artlibre.org/licence/lal/en">Free Art License</a>, and as such can be copied, distributed, transformed and used as you please. If you enjoy the icons, a link back to this page would certainly be
appreciated.</p>

<p><em>Note: the company logos in the icons are copyright of their respective owners.</em></p>

<p><strike>Did I miss one? I’ll be updating the pack soon, so <a href='mailto:me@alexpeattie.com'>drop me a line</a> with any suggestions.</strike><p>

<p class='Callout'>
  <strong>2016 Update:</strong>Thank you for all of your suggestions - there are obviously a few key ones (like Instagram) missing. I'm working on them, expect a new release very soon 😁! 
</p>

<h2>Full Preview</h2>

<p><%= image_tag 'projects/justvector/full-preview.png', class: 'jv-FullPreview' %></p>

<h2>Web Font</h2>

<p>Thanks to some great work by <a href='http://martianwabbit.com/'>Sergio Díaz</a> the set is now available as a web font. With a little @font-face magic, you can have social icons to resize, recolour and <a href='http://mothereffingtextshadow.com/'>generally abuse</a>. Go grab the kit here:
<a href='http://martianwabbit.com/2014/09/15/just-vector-social-font-1-5.html'>http://martianwabbit.com/2014/09/15/just-vector-social-font-1-5.html</a> or see the demo <a href='https://dl.dropboxusercontent.com/u/8252879/justVector%20Font/index.html'>here</a>.</p>

<h2>Version History</h2>

<h5>1.5 (11 Apr 10)</h4>

<ul class='jv-VersionHistory'>
  <li>
    <em>Added (50)</em>:
    AIM (alt), Arto, Baidu, Basecamp, Bnter, Brightkite, Cinch, CloudApp, Creative Commons, Dailybooth, Diigo, Dropbox, DZone, Etsy, Facto.me, Folkd, Goodreads, Hacker News, hi5, Identi.ca, Instapaper, Kik, Krop, LiveJournal, Mister Wng, Mixx (alt), MSN Messenger, Ning, Official.fm, Orkut, Pandora, Path, Pinboard, Ping, PingChat, Plixi, Plurk, Quora, Readernaut, Robo.to, Simplenote, Squarespace, threewords.me, tribe.net, TripIt, WhatsApp, Wists, Yahoo! Messenger, ZooTool, Zynga.
  </li>
  <li>
    <em>Fixed (3)</em>:
    Picasa, Qik, Zerply.
  </li>
  <li>
    <em>Other</em>:
    Moved all icons onto one artboard. Updated .ai and .eps to improve compatability (CS3+, instead of CS5).
  </li>
</ul>

<h5>1.0 (17 Mar 10)</h4>

<ul class='version-history'>
  <li><a href='/files/justvector-1.0.zip'>Download 1.0 (.zip)</a>
  <li>
    <em>Added (100)</em>:
    AIM, Amazon, App Store, Apple, AWS, Bebo, Behance, Bing, Blip, Blogger, Coroflot, Delicious, DesignBump, DesignFloat, Designmoo, deviantART, Digg (x2), Dribbble, Drupal, eBay, Ember, Evernote, Facebook (x2), Facebook Places, Feedburner, Flickr, Formspring, Forrst, foursquare, FriendFeed, Friendster, gdgt, Github (x2), Google, Google Buzz, Google Talk, Gowalla (x2), Grooveshark, Hyves, Hype Machine, ICQ, iTunes, last.fm, LinkedIn (x2), LoveDsgn, Meetup, Metacafe, Mixx, MobileMe, Myspace (x2), Newsvine, OpenID, PayPal, Photobucket, Picassa, Playstation, Podcasting, Posterous, Qik, Rdio, Reddit, Retweet, RSS, Scribd, ShareThis, Skype, Slashdot, Slideshare, SmugMug, SoundCloud, Spotify, Squidoo, Steam, StumbleUpon, Technorati, Tumblr, Twitter (x2), vCard, Viddler, Virb, Vimeo, W3, Wikipedia, Windows, Wordpress (x2), Xing, Yahoo!, Yahoo! Buzz, Yelp, YouTube (x2) &amp; Zerply.
  </li>
</ul>